#imagesSlider {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  text-align: center;
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  font-size: 20px;
}
